In [3]:
import pymongo

In [4]:
# Provide the mongodb localhost url to connect python to mongodb.
client = pymongo.MongoClient("mongodb+srv://Aditya:abc@cluster0.k8dmnoc.mongodb.net/?retryWrites=true&w=majority")

# Through MongoClient we can connect to Mongodb server

In [5]:
# To check if there any databases are present
client.list_database_names()

['labDB', 'admin', 'local']

In [6]:
#1.create database
db=client['demoDB']

In [8]:
#2.create collection / table name
collection_name=db['mongo_demo']

In [10]:
#3.  Creating single data (unless we store any data in json format in the db we cannot see the database)
my_row={'SerialNo':'9998',
'GRE score':'337',
'TOEFL Score':'118',
'University Rating':'4',
'SOP':'4.5',
'LOR':'4.5',
'CGPA':'9.65',
'Research':'1',
'Chance of Admit':'0.92'}

In [11]:
#4. To insert one data
x=collection_name.insert_one(my_row)

In [12]:
#5. inside the database there will be records and inside records there will be unique id's
x.inserted_id

ObjectId('65d1a69786f85e2d3231f4bc')

In [13]:
#6. ceating multiple data
my_rows=[
    {'SerialNo':'9998',
'GRE score':'337',
'TOEFL Score':'118',
'University Rating':'4',
'SOP':'4.5',
'LOR':'4.5',
'CGPA':'9.65',
'Research':'1',
'Chance of Admit':'0.92'},
{
'SerialNo':'9997',
'GRE score':'338',
'TOEFL Score':'119',
'University Rating':'3',
'SOP':'5.5',
'LOR':'4.5',
'CGPA':'9.73',
'Research':'1',
'Chance of Admit':'0.98'},
{
'SerialNo':'9999',
'GRE score':'237',
'TOEFL Score':'108',
'University Rating':'88',
'SOP':'2.5',
'LOR':'2.5',
'CGPA':'7.65',
'Research':'3',
'Chance of Admit':'0.62'
}
]

In [14]:
y=collection_name.insert_many(my_rows)

In [15]:
y.inserted_ids

[ObjectId('65d1ab4f86f85e2d3231f4bd'),
 ObjectId('65d1ab4f86f85e2d3231f4be'),
 ObjectId('65d1ab4f86f85e2d3231f4bf')]

In [16]:
#7. fetch the data
result=collection_name.find()

In [20]:
#8. print the result
for i in result:
    print (i)

{'_id': ObjectId('65d1a69786f85e2d3231f4bc'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4bd'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4be'), 'SerialNo': '9997', 'GRE score': '338', 'TOEFL Score': '119', 'University Rating': '3', 'SOP': '5.5', 'LOR': '4.5', 'CGPA': '9.73', 'Research': '1', 'Chance of Admit': '0.98'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4bf'), 'SerialNo': '9999', 'GRE score': '237', 'TOEFL Score': '108', 'University Rating': '88', 'SOP': '2.5', 'LOR': '2.5', 'CGPA': '7.65', 'Research': '3', 'Chance of Admit': '0.62'}

In [24]:
#8. Fetch data on particular conditions
result_gre=collection_name.find({"GRE score":"337"})

In [25]:
for i in result_gre:
    print(i)

{'_id': ObjectId('65d1a69786f85e2d3231f4bc'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4bd'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [26]:
my_query={"GRE score":{"$gt":"300"}}
rslt=collection_name.find(my_query)

In [27]:
for i in rslt:
    print(i)

{'_id': ObjectId('65d1a69786f85e2d3231f4bc'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4bd'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4be'), 'SerialNo': '9997', 'GRE score': '338', 'TOEFL Score': '119', 'University Rating': '3', 'SOP': '5.5', 'LOR': '4.5', 'CGPA': '9.73', 'Research': '1', 'Chance of Admit': '0.98'}

In [28]:
result_sorted=collection_name.find().sort('GRE score')
for i in result_sorted:
    print(i)

{'_id': ObjectId('65d1ab4f86f85e2d3231f4bf'), 'SerialNo': '9999', 'GRE score': '237', 'TOEFL Score': '108', 'University Rating': '88', 'SOP': '2.5', 'LOR': '2.5', 'CGPA': '7.65', 'Research': '3', 'Chance of Admit': '0.62'}
{'_id': ObjectId('65d1a69786f85e2d3231f4bc'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4bd'), 'SerialNo': '9998', 'GRE score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('65d1ab4f86f85e2d3231f4be'), 'SerialNo': '9997', 'GRE score': '338', 'TOEFL Score': '119', 'University Rating': '3', 'SOP': '5.5', 'LOR': '4.5', 'CGPA': '9.73', 'Research': '1', 'Chance of Admit': '0.98'}

In [29]:
#9.delete data
z={'GRE score':'337'}
z1=collection_name.delete_one(z)